{% extends 'base.html' %}


{% block title %}
    商品任务清单|香烟自动化系统
{% endblock %}

{% block nav_mission %}active{% endblock %}

{% block content %}
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">任务清单</li>
            </ol>
        </nav>
    </div>
    <a id='TT' ></a>
    <div class="col-12">
        {# -- 当前任务完成情况 -- #}
        <div class="row">
            <h1 class="p-5 text-success">商品任务剩余情况</h1>
        </div>
        <div class="row table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr>
                    <th scope="col">序号</th>
                    <th scope="col">条形码</th>
                    <th scope="col">商品名称</th>
                    <th scope="col">库存</th>
                    <th scope="col">任务量</th>
                    <th scope="col">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ item.uid }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.number }}</td>
                            <td>{{ item.mission }}</td>
                            <td><button class="btn btn-danger" id="{{ item.uid }}" name="delete">删除</button></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <th scope="row" colspan="5">当前无任务</th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <a href="#TT" >⬆跳转到顶部</a>
        </div>  
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("button[name='delete']").click(function(){
                var uid = $(this).attr('id');
                $(this).parent().parent().fadeOut("slow");
                $.ajax({
                    type: 'POST',
                    url: "{% url 'delete' %}",
                    data:{
                        uid: uid,
                    },
                    success: function(msg){
                        //console.log(msg);
                    },
                })
            })
        })
    </script>
{% endblock %}