{% extends 'base.html' %}


{% block title %}
    香烟自动化系统|新建商品
{% endblock %}

{% block nav_create %}active{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">新建商品</li>
        </ol>
    </nav>
    <div class="col-md-10 col-sm-12 p-4">
        <div class="row">
            <h1 class="col">香烟商品新建</h1>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 col-sm-10">
                <form action="{% url 'create' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="Inputuid">排序序号uid</label>
                        <input type="text" class="form-control" name='uid' id="Inputuid" placeholder="TP开头" aria-describedby="uidHelp">
                    </div>
                    <div class="form-group">
                        <label for="Inputname">商品名name</label>
                        <input type="text" class="form-control" name='name' id="Inputname" placeholder="完整商品名" aria-describedby="nameHelp">
                    </div>
                    <div class="form-group">
                        <label for="Inputpid">商品编号pid</label>
                        <input type="text" class="form-control" name="pid" id="Inputpid" placeholder="6位编码" aria-describedby="pidHelp">
                    </div>
                    <div class="form-group">
                        <label for="Inputnum">商品数量num</label>
                        <input type="text" class="form-control" name='number' id="Inputnum" placeholder="当前入库库存" aria-describedby="numHelp">
                        <small id="numHelp" class="form-text text-muted">
                            请输入数字</small>
                    </div>
                    <input type="submit" class="btn btn-primary" value="提交">
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-sm-12 text-danger p-4">
                <h4>EXCEL上传导入</h4><h6>请务必上传xlsx,xls格式</h6>
            </div>
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".xlsx" id="corwd_file" onchange="loadFile(this.files[0])">
                    <label id="jobData" for="corwd_file" class="custom-file-label">上传每周进货文件</label>
                </div>
                <div class="input-group-append">
                    <button id="upload" class="btn btn-outline-secondary" type="button">上传</button>
                  </div>
            </div> 
        </div>
        <div class="row">
            <div class="input-group mb-3">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" accept=".xlsx" id="corwd_file1" onchange="loadFile1(this.files[0])">
                    <label id="jobData1" for="corwd_file1" class="custom-file-label">上传库存文件</label>
                </div>
                <div class="input-group-append">
                    <button id="upload1" class="btn btn-outline-secondary" type="button">上传</button>
                  </div>
            </div> 
        </div>
        <br>
        <br>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        function loadFile(file){
            $("#jobData").html(file.name);
        }
        function loadFile1(file){
            $("#jobData1").html(file.name);
        }
        $(document).ready(function(){
            $("#upload").click(function(){
                var formdata = new FormData();

                var file_obj = $("#corwd_file")[0].files[0];
                var csrf_data = $('[name=csrfmiddlewaretoken]').val();
                formdata.append('file_obj', file_obj);
                formdata.append('file_type', '1');
                formdata.append('csrfmiddlewaretoken',csrf_data);

                $.ajax({
                    url: "{% url 'upload' %}",
                    type:"POST",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success:function(res){
                        alert("上传成功");
                        window.location.href = "{% url 'download-list' %}";
                        //console.log(res);
                    }
                })
            });
            $("#upload1").click(function(){
                var formdata = new FormData();

                var file_obj = $("#corwd_file1")[0].files[0];
                var csrf_data = $('[name=csrfmiddlewaretoken]').val();
                formdata.append('file_obj', file_obj);
                formdata.append('file_type','0');
                formdata.append('csrfmiddlewaretoken',csrf_data);

                $.ajax({
                    url: "{% url 'upload' %}",
                    type:"POST",
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success:function(res){
                        alert("上传成功");
                        window.location.href = "{% url 'download-list' %}";
                        //console.log(res);
                    }
                })
            })
        })
    </script>
{% endblock %}