{% extends 'base.html' %}


{% block title %}
    入库列表|香烟自动化系统
{% endblock %}

{% block nav_buy %}active{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">入库文件列表</li>
        </ol>
    </nav>
    <div class="col-12">
        <div class="row">
            <h1 class="p-5">入库列表</h1>
        </div>
        <div class="row table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr>
                    <th scope="col">FILE</th>
                    <th scope="col">PATH</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <th scope="row">{{ file.name }}</th>
                            <td>
                                <a href="{% url 'download' file.pk %}">{{ file.path }}</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <th scope="row">1</th>
                            <td colspan="1">当前无入库文件</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        
    </script>
{% endblock %}