{% extends 'base.html' %}


{% block title %}
    日志清单|香烟自动化系统
{% endblock %}

{% block nav_logging %}active{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">日志清单</li>
        </ol>
    </nav>
    <div class="col-12">
        <div class="row">
            <h1 class="p-5">日志清单</h1>
        </div>
        <div class="row table-responsive">
            <table class="table text-nowrap">
                <thead>
                    <tr>
                    <th scope="col">DATE</th>
                    <th scope="col">PATH</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                        <tr>
                            <th scope="row">{{ log.name }}</th>
                            <td>
                                <a href="{% url 'log' log.pk %}">{{ log.path }}</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <th scope="row">1</th>
                            <td colspan="1">当前无库存</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        
    </script>
{% endblock %}